.product-card {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 20px solid transparent;
    background-color: rgb(192, 188, 188);
    border-radius: 10px;
    border-image: url(border-image.png) 20 repeat round;
    width: 300px;
}

img {
    width: 300px;
    height: 200px;
}

.text {
    max-height: 90px;
    overflow: auto;
}

.price {
    text-align: left;
}