body {
    display: flex;
    justify-content: center;
}

.product-card {
    margin: 20px;
    padding: 20px;
    border: 10px solid transparent;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    border-image: url(border-image.png) 20 repeat round;
    box-shadow: 4px 4px 10px rgb(109, 109, 109);
    width: 300px;
    height: 400px;
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.text {
    max-height: 90px;
    overflow: auto;
    text-align: left;
}

.price {
    text-align: left;
    visibility: hidden;
}

.product-card:hover .price {
    visibility: visible !important;
}